<div id="header">
    <div id="top-bar">
        <img id="logo" src="/common/CSS & Assets/Assets/ILABYOU-logo.png" alt="img not available">
        <button id="homeButton" class="header-but">Home</button>
        <button id="aboutButton" class="header-but">Info</button>
        <div class="profile-container">
            <img id="pfp" src="{{profileDetails.pic}}" alt="Profile Picture">
            <div class="profile-popup">
                <ul>
                    <li><a href="/profile">View Account</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </div>      
    </div>
</div>
