<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link id="favicon" rel="icon" href="/common/CSS & Assets/Assets/ILABYOU-logo.png" type="image/png">
    <link href="/common/CSS & Assets/{{filename}}.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/common/Javascript/{{filename}}.js"></script>
  </head>
  <body>
   
{{{body}}}
  </body>
</html>
<!--labtech_homepage.css-->