<body>
    {{> mainHeader}}
    <div id="parent">
        <h1 id="title">About This Website</h1>
        <div id="text">
            This web application named "iLabYou - We Lab to Reserve for You,” is a lab reservation system that allows students to reserve lab slots, monitor real-time availability across several laboratories, and manage their reservations easily. With features such as user-friendly registration and login, intuitive reservation management, and proactive reservation removal by lab personnel, our system strives to streamline the entire process, assuring equitable access to resources while maximising utilization. Furthermore, tools like profile management and search functionalities improve the entire user experience, creating a unified and efficient environment for both students and lab workers. With a focus on usability and functionality, our web tool aspires to be the foundation of effective resource management at our school.

Note: This web application utilizes the NPM packages express, express-handlebars, body-parser, mongoose, multer, bcrypt, and connect-mongodb-session.</div>
    </div>
    
</body>
