<div class="body-parent">
            <div class="login-box-parent">
                <div class="bounded-box">
                    <div class="box-header">
                    <div class="logo-header">
                        <img src="/common/CSS & Assets/Assets/ILABYOU-logo.png">
                    </div>
                    <div class="login-header">Login</div>
                    </div>
                    <div class="login-forms">

                         <!--<form name="read-user" action="read-user" method="post"></form>-->
                        <form name ="login-user" action="read-user" method="post">
                            <div class="form-input"> <img src="/common/CSS & Assets/Assets/user-icon.png">
                                <input type="text" class="login-email" name="email" placeholder="Email"><br>
                            </div>
                            <div class="form-input"><img src="/common/CSS & Assets/Assets/pass-icon.png">
                            <input type="password" class="login-password" name="password" placeholder="Password">
                            </div>
                            <div class="remember-login">
                                <label>
                                    <input type="checkbox" checked="checked" name="remember" value="true"> Remember me
                                </label>
                            </div>
                            <div class="submit-button">
                                <input type="submit" id="login-button" value="Log in">
                            </div>
                        </form>
                    </div>
                    <div class="login-footer">Don’t have an account?&nbsp;<b><a href="signup">Sign Up</a></b></div>
                </div>
            </div>

            <div class="visuals-parent">
                <div class="image-frame">
                    <img src="/common/CSS & Assets/Assets/visuals-login.png">
                </div>
                <div class="visuals-quote">We'd Lab to Reserve for You!</div>
            </div>
        </div>