<div class="body-parent">
            <div class="signup-box-parent">
                <div class="bounded-box">
                    <div class="box-header">
                    <div class="logo-header">
                        <img src="/common/CSS & Assets/Assets/ILABYOU-logo.png">
                    </div>
                    <div class="signup-header">Sign Up</div>
                    </div>
                    <div class="signup-forms">
                        <form name ="signup-user" action="create-user" method="post">
                            <!-- IMG OF EMAIL -->
                            <div class="form-input"> <img src="/common/CSS & Assets/Assets/user-icon.png">
                                <input type="text" class="signup-email" name="email" placeholder="Email"><br>
                            </div>
                            <div class="form-input"><img src="/common/CSS & Assets/Assets/pass-icon.png">
                                <input type="password" class="signup-password" name="password" placeholder="Password">
                            </div>
                            <div class="form-input"><img src="/common/CSS & Assets/Assets/pass-icon.png">
                                <input type="password" class="confirm-password" name="confirmPass" placeholder="Confirm Password">
                            </div>
                            <div class="form-input" id="user-type-choice">
                                <div id="role-label">Role:</div>
                                <div class="input-wrapper">
                                    <input type="radio" id="student" name="choice" value="student" class="input-choice">
                                    <label for="student" class="choice-label">Student</label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="radio" id="lab-tech" name="choice" value="labtech" class="input-choice">
                                    <label for="lab-tech" class="choice-label">Lab Technician</label>
                                </div>
                            </div>
                            <div class="submit-button">
                                <input type="submit" id="signup-button" value="Sign Up">
                            </div>
                        </form>
                    </div>
                    <div class="signup-footer">Already have an account?&nbsp;<b><a href="/">Log In</a></b></div>
                </div>
            </div>

            <div class="visuals-parent">
                <div class="image-frame">
                    <img src="/common/CSS & Assets/Assets/visuals-login.png">
                </div>
                <div class="visuals-quote">We'd Lab to Reserve for You!</div>
            </div>
        </div>