/* Body */
body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    margin-top: 0px;
    background-image: url('./Assets/general-bg.png');
    overflow-x: hidden;
}

/* Buttons */
button:hover {
    cursor: pointer;
}

/* Header */
.header-but {
    font-family: Baskerville;
    background-color: rgba(255, 255, 255, 0); 
    margin-left: 3%;
    border: 0px;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration: underline;
    height: 50%;
    width: auto;
}

#header, #title-bar {
    margin-top: 0px;
    margin-left: 5%;
    width: 90%;
    align-items: center;
}

#top-bar, #title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#logo {
    width: 6%;
}

/* Profile */
.profile-container {
    padding-left: 2.5vw;
    width: 9vh;
    height: 9vh;
    margin-top: 10px;
    border-radius: 100%;
    margin-left: 62vw;
    border: white solid 0.5px;
    position: relative;
}

#pfp {
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background-image: url('./Assets/elmo.jpg');
    background-size: cover;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: Baskerville;
    font-size: 3vw;
}

#pfp:hover {
    cursor: pointer;
}

/* Forms */
#filterForm {
    text-align: end;
    align-self: center;
    width: 40%;
    font-weight: bold;
    font-size: 1vw;
}

#title {
    width: 50%;
}

/* Tables */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 5%;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #EFB5B1;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

th:first-child {
    border-left: 0.5px solid black;
}

th:last-child {
    border-right: 0.5px solid black;
}

/* Filter Button */
#filterButton {
    padding: 7px;
    background-color: #EFB5B1;
    font-size: 1vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 0.5px solid black;
}

/* Table Rows */
tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.5px solid black;
    transition: transform 0.3s;
}

tbody tr:hover {
    transform: scale(1.02);
    cursor: pointer;
}

tbody tr td {
    flex: 1;
    padding: 15px;
    font-size: 1vw;
}

#dataTable {
    box-shadow: none;
}

/* Table Headers */
thead tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
}

thead tr th {
    flex: 1;
    padding: 15px;
    text-align: left;
    font-size: 1vw;
}

/* Dimmed Background for Popup */
#dimmedBackground {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out; 
    border-radius: 10px;
}

#edit-res, #delete-res, #present-res {
    border-radius: 10px;
    background-color: rgb(218, 181, 218);
    border: 1px solid white;
    padding: 7px;
    color: white;
    font-weight: bold;
    margin-top: 5%;
}

#delete-res {
    background-color: rgb(242, 128, 128);
}
#present-res {
    background-color: rgb(236, 91, 171);
}

.close-popup {
    border: 0px;
    border-radius: 10px;
    background-color: #fff;
}

#closeButtonDelete {
    border: 0px;
    border-radius: 10px;
    background-color: #f1d2d5;
    size: 15px;
    position: absolute;
    top: 10px; 
    left: 10px; 
}

#closeButtonDelete:hover {
    cursor: pointer;
}

#deletePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1d2d5;
    padding: 10px;
    border: 1px solid #ccc;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 9999;
    text-align: center;
}

#deletePopup h3 {
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    letter-spacing: 1.5px;
}

/* Choices and Inputs */
.choice {
    display: inline-block; 
    margin: 0 12px;
    border: 10px;
}

.input-choice {


    margin-right: 5px; 
}

.choice-label {
    margin-right: 30px;
    font-size: 16px; 
}

/* Submit Button */
.submit-button {
    display: block; 
    margin: 0 auto; 
    background-color: rgb(242, 128, 128);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px; 
}

.submit-button:hover {
    background-color: rgb(242, 128, 128); 
}

/* Profile Popup */
.profile-popup {
    display: none;
    position: absolute;
    
    left: 0;
    width: 100px; 
    background-color: #F8EBFC;
    border: 1px solid #F8EBFC;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-popup ul li {
    padding: 10px;
}

.profile-popup ul li a {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none; 
    color: #333;
    font-size: 15px;
}

.profile-popup ul li:hover {
    background-color: #f1d4fa;
}

/* Student ID */
#student-id {
    text-decoration: underline;
    font-weight: bold;
    color: maroon;
}

#student-id:hover {
    cursor: pointer;
    color: pink;
}

/* Floating Button */
#floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #edb0b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}